.leaderboardCard {
  padding: 3vh 3vh;
  margin: 0 auto;
}

.lboard_section {
  width: 100%;
  height: 400px;
  margin:  0;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px 40px;
  position: relative;
}

body.darkmode .lboard_section {
  background: #3d3d3d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lboard_tabs .tabs {
  display: flex; /* Add flexbox to container */
  justify-content: space-between; /* Space items out */
  align-items: center; /* Align items vertically */
}

.lboard_section ul {
  display: flex;
  list-style: none; /* Explicitly remove list style */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.lboard_section ul li {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

body.darkmode .lboard_section ul li {
  color: white;
}

.lboard_section ul li:hover,
.lboard_section ul li.active {
  color: #8fab71;
}

body.darkmode .lboard_section ul li:hover, 
body.darkmode .lboard_section ul li.active {
  color: #d0ff9d;
}

.lboard_section .sports {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin-left: auto; /* Push sports to right */
}

body.darkmode .lboard_section .sports {
  color: white;
}

.lboard_wrap {
  position: absolute;
  top: 70px;
  left: 40px;
  background: #8fab71;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: calc(100% - 80px);
  height: 300px;
  border-radius: 10px;
  overflow-y: auto;
}

body.darkmode .lboard_wrap {
  background: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lboard_wrap .lboard_item {
  padding: 15px;
}

.lboard_wrap .lboard_item .lboard_mem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid darkgreen;
}

body.darkmode .lboard_wrap .lboard_item .lboard_mem {
  border-bottom: 1px solid #d0ff9d;
}

.lboard_wrap .lboard_item .lboard_mem:first-child {
  padding-top: 0;
}

.lboard_wrap .lboard_item .lboard_mem:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.lboard_wrap .lboard_mem .img {
  width: 50px;
}

.lboard_wrap .lboard_mem .img img {
  display: block;
  width: 100%;
}

.lboard_wrap .lboard_item .name_bar {
  margin: 0 20px;
  width: calc(100% - 150px);
}

.lboard_wrap .lboard_item .name_bar p {
  text-align: left;
  color: black;
}

body.darkmode .lboard_wrap .lboard_item .name_bar p {
  color: white;
}

.lboard_wrap .lboard_item .name_bar p span {
  margin-right: 5px;
}

.lboard_wrap .lboard_item .points {
  width: 100px;
  color: black;
}

body.darkmode .lboard_wrap .lboard_item .points {
  width: 100px;
  color: white;
}

.lboard_wrap .lboard_item .bar_wrap {
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

body.darkmode .lboard_wrap .lboard_item .bar_wrap {
  background: rgb(147, 147, 147);
}

.lboard_wrap .lboard_item .bar_wrap .inner_wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: darkgreen;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

body.darkmode .lboard_wrap .lboard_item .bar_wrap .inner_wrap {
  background: #d0ff9d;
}