.container {
  display: flex;
  height: 100vh;
}

.feedScroll {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.leaderScroll {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  width: 50%;
}

h1 {
  margin: 2%;
}

p {
  margin-bottom: 5vh;
}

.feedCard {
  padding: 3vh 0 3vh 5vh;
  margin-top: 3%;
  margin-bottom: 3%;
  background: #9fc972;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
}

.cardContent {
  display: inline-block;
}

#moreButton {
  margin-left: 24vw;
}
