.feedCard {
  padding: 3vh 5vh 3vh 5vh;
  margin: 0 2% 3% 2%;
  background: #8fab71;
  border: 1px solid #679436;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: black;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body.darkmode .feedCard {
  background: #3d3d3d;
  border: none;
  box-shadow: 0 0 10px #d0ff9d;
  color: white;
}

.feedCard h3 {
  font-size: x-large;
}

.feedCard h5 {
  color: #3d3d3d;
}

body.darkmode .feedCard h5 {
  color: #d0ff9d;
}

.cardUserData {
  grid-column: span 3;
}

.exerciseData {
  grid-column: span 3;
  text-align: center;
  margin: 2%;
}

#moreButton {
  background: transparent;
  font-size: x-large;
  padding: 0;
  margin-left: 75%;
  grid-column: 3;
  width: 25%;
  border: transparent;
  color: #3d3d3d;
}

#likeButton {
  background: transparent;
  font-size: x-large;
  padding: 0;
  grid-column: 1;
  grid-row: 3;
  width: 25%;
  border: transparent;
  color: #3d3d3d;
}

#shareButton {
  background: transparent;
  font-size: x-large;
  padding: 0;
  margin-left: 25%;
  grid-column: 1;
  grid-row: 3;
  width: 25%;
  border: transparent;
  color: #3d3d3d;
}

body.darkmode #moreButton,
body.darkmode #likeButton,
body.darkmode #shareButton {
  color: #d0ff9d;
}